<div class="comment-container">
  <h2>Comments:</h2>
  @for (comment of comments; track comment.id; let isLastComment = $last) {
    <section>
      <div class="text-container">
        <ng-icon name="bootstrapChat"></ng-icon>
        <div class="text">{{comment.textInput}}</div>
      </div>
      <div class="meta-data">
        <div>{{comment.userName}}&nbsp;&mdash;&nbsp;</div>
        <div>{{comment.date | date:'shortDate'}}&nbsp;</div>
        <div>{{comment.date | date:'shortTime'}}</div>
      </div>
    </section>
    @if (!isLastComment) {
      <hr />
    }
  }
  <app-add-comment />
</div>
