textarea {
  resize: none;
  padding: 10px;
  line-height: 1.5;
  min-height: 100px;
  position: relative;
}

hr {
  margin: 30px 0;
  border: none;
  height: 1px;
  background-color: lightgrey;
}

label {
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

button {
  height: 25px;
  width: 60px;
  align-self: end;
  margin-top: 20px;
}

button:hover {
  cursor: pointer;
}

.add-comment-section {
  margin-top: 50px;
}

.tag-user-modal-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tag-user-modal-container li {
  font-size: 15px;
  padding: 10px 10px;
  border-top: solid 1px rgb(202, 202, 202);
}

a {
  text-decoration: none;
  color: black;
}
