<div class="add-comment-section">
  <hr />
  <h3>Add Comment</h3>
  <hr />
  <form [formGroup]="commentForm" (ngSubmit)="handleCommentFormSubmit()">
    <label for="comment">Please enter in a comment.</label>
    <section class="modal">
      @if (isModalOpen && filteredUsers.length > 0) {     <!--    Hide the modal if filtered users is empty    -->
        <div class="modal-container">
          <ul class="modal-body">
            @for (user of filteredUsers; track user.userID) {
              <li (click)="addTaggedUserToComment(user)">{{user.name}}</li>
            }
          </ul>
        </div>
      }
    </section>
    <div class="form-input">
      <textarea #inputField id="comment" type="text" formControlName="textInput"></textarea>
      <button type="submit" [disabled]="this.commentForm.invalid">Submit</button>
    </div>
  </form>
</div>
