<section class="add-comment-section">
  <hr />
  <h3>Add Comment</h3>
  <hr />
  <form name="commentForm" [formGroup]="commentForm" (ngSubmit)="handleCommentFormSubmit()" class="form-container">
    <label for="comment">Please enter in a comment.</label>
    <app-tag-user-modal id="modal1">
        @for (user of users; track user.userID; let idx = $index) {
          <li #tagOption id="index-{{idx}}" (keydown)="onKeydown($event, idx, user)" tabindex="0" (click)="addTaggedUserToComment(user)">{{user.name}}</li>
        }
    </app-tag-user-modal>
    <textarea #commentTxt id="comment" formControlName="body" (keydown.enter)="this.commentForm.value.body?.trim()?.length !== 0 && handleCommentFormSubmit()" (keydown)="displayTagUserModal($event)">
    </textarea>
    <button type="submit" [disabled]="this.commentForm.value.body?.trim()?.length === 0">Submit</button>
  </form>
</section>
